<h1>
<strong class="header3 header1">WIN A BORT</strong>
</h1>

<h3>
<strong class="header3 header1">Copyright Los amigos de Bort</strong>
</h3>

<table style="width: 625px; height: 88px;" border="0">
<tbody>
<tr>
<td style="width: 25%;">
 <img src="smiley.gif" alt="Smiley face" height="42" width="42"> 
</td>
<td style="width: 25%;">,</td>
<td style="width: 25%;">.</td>
<td style="width: 25%;">
 <img src="smiley.gif" alt="Smiley face" height="42" width="42"> 
</td>

</tr>

</tbody>
</table>
<p><strong class="header3 header1"><br /></strong></p>
<table style="width: 626px; height: 42px;" border="0">
<tbody>
<tr>
<td style="width: 25%;" rowspan="2">
<h1 style="text-align: center;" >
	<label name="status" id="status"><%= @scorebort %></label> 
</h1>
</td>
<td style="width: 50%;" rowspan="2">
<h1 style="text-align: center;" >
	<label name="status" id="status"><%= @status %></label> 
</h1>
</td>
<td>
<h1 style="text-align: center;" name="totaljugador">
	<label name="scoreA" id="scoreA"><%= @scoreA %></label> 
</h1>
</td>
</tr>
<tr>
<td>
<h2 style="text-align: center;" name="tirojugador">
	<label name="ultcarta" id="ultcarta"><%= @ultcarta %></label>
</h2>
</td>
</tr>
</tbody>
</table>
<p><strong class="header3 header1"><br /></strong></p>
<table style="width: 624px; height: 23px;" border="0">
<tbody>
<tr>
<td>&nbsp;</td>
<td style="width: 25%;" align="Center">
	<form action="/jugar" method="post">
	<button name="jugar" value="Submit" type="submit">Jugar</button>
	</form>
</td>
<td style="width: 25%;" align="Center">
	<form action="/plantarse" method="post">
	<button name="plantarse" value="Submit" type="submit">Plantarse</button>
	</form>
</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p><strong class="header3 header1"><br /></strong></p>
