<h1><strong class="header3 header1">WIN A BORT</strong></h1>
<table style="width: 625px; height: 88px;" border="0">
<tbody>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p><strong class="header3 header1"><br /></strong></p>
<table style="width: 626px; height: 42px;" border="0">
<tbody>
<tr>
<td style="width: 25%;" rowspan="2">&nbsp;</td>
<td style="width: 50%;" rowspan="2">
<h1 style="text-align: center;" name="textoprincipal"></h1>
</td>
<td>
<h1 style="text-align: center;" name="totaljugador"><%= @resultado %></h1>
</td>
</tr>
<tr>
<td>
<h2 style="text-align: center;" name="tirojugador"></h2>
</td>
</tr>
</tbody>
</table>
<p><strong class="header3 header1"><br /></strong></p>
<table style="width: 624px; height: 23px;" border="0">
<tbody>
<tr>
<td>&nbsp;</td>
<td style="width: 25%;" align="Center"><form action="/jugar" method="post"><button name="jugar" value="Submit" type="submit">Jugar</button></form></td>
<td style="width: 25%;">&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>
<p><strong class="header3 header1"><br /></strong></p>
